<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="Default suite">

	<listeners>
		<listener class-name="retryAnalyzer.CustomListener" />
	</listeners>

	<test name="RetryMultipleFailedTestCases">
		<classes>
			<class name="testSuite.LoginTest" />
		</classes>
	</test>
</suite> 
            